.bn{border:none}
.--accentColor\:purpleRA{--accentColor:var(--purpleColor,oklch(0.7 .223324 302))}
.br-8px{border-radius: 8px}
.appearance-none{appearance:none}
.fs-16px{font-size: 16px}
.ff-system-ui{font-family:system-ui}
.fw5{font-weight: 500}
.m-0{margin: 0}
.h-2rem{height: 2rem}
.py-0{padding-top:0;padding-bottom:0}
.px-3{padding-left:var(--space-3,0.75rem);padding-right:var(--space-3,0.75rem)}
.tdn{text-decoration: none}
.inline-flex-center{display:inline-flex;align-items:center;justify-content:center}
.gap-1{gap:var(--space-1,0.25rem)}
.-webkit-tap-highlight-color-transparent{-webkit-tap-highlight-color:transparent}
.--space\:0\.25rem{--space:0.25rem}
.__svg\[width\(calc\(--space\,\*\,4\.5\)\)\,height\(calc\(--space\,\*\,4\.5\)\)\] > svg{width:calc(var(--space) * 4.5)} 
.__svg\[width\(calc\(--space\,\*\,4\.5\)\)\,height\(calc\(--space\,\*\,4\.5\)\)\] > svg{height:calc(var(--space) * 4.5)} 

.--has\(__svg--oc\)\[p-0px\,br-9999px\,flex-shrink-0\,w-2rem\]:has( > svg:only-child){padding: 0px} 
.--has\(__svg--oc\)\[p-0px\,br-9999px\,flex-shrink-0\,w-2rem\]:has( > svg:only-child){border-radius: 9999px} 
.--has\(__svg--oc\)\[p-0px\,br-9999px\,flex-shrink-0\,w-2rem\]:has( > svg:only-child){flex-shrink: 0} 
.--has\(__svg--oc\)\[p-0px\,br-9999px\,flex-shrink-0\,w-2rem\]:has( > svg:only-child){width: 2rem} 

.\[data-pressed\]-scale-0\.9[data-pressed]{scale: 0.9} 

@media (prefers-color-scheme: dark){ .dark\[--highlight-background\:--gray-1600\]{--highlight-background: var(--gray-1600)}} 

