.df{display: flex}
.fdc{flex-direction: column}
.g-2{gap:var(--space-2,0.5rem)}
.fs--font-size{font-size: var(--font-size)}
.fw-600{font-weight:600}
.c-grayRATheme1200{color:light-dark(oklch(from var(--grayColor,oklch(0.5 0 0)) 41.0821% c h),oklch(from var(--grayColor,oklch(0.5 0 0)) 79.1773% c h))}
.InsetRA{
    --lightness-1000: 67.0121%;
    --border-color-disabled: var(--gray-300,light-dark(oklch(from var(--grayColor,oklch(0.5 0 0)) 91.1434% calc(l * c * 0.7) h),oklch(from var(--grayColor,oklch(0.5 0 0)) 41.0821% calc(l * c * 0.7) h)));
    --border-color-hover: var(--gray-500,light-dark(oklch(from var(--grayColor,oklch(0.5 0 0)) 79.1773% calc(l * c * 0.9) h),oklch(from var(--grayColor,oklch(0.5 0 0)) 51.9076% calc(l * c * 0.9) h)));
    --invalid-color: oklch(from var(--redColor,oklch(0.6 .181447 27.0726)) var(--lightness-1000) c h);
    --gray-50: #ffffff;
    --field-background: var(--gray-50);
    --inset-background: var(--field-background);
    --inset-border: var(--border-color);
    --inset-border-size: 1px;
    --inset-shadow-offset: 2px;
    --inset-shadow-size: 4px;


    background: var(--inset-background);
    box-shadow:
      inset 0 0 0 var(--inset-border-size) var(--inset-border),
      /* border */ inset 0 var(--inset-shadow-offset) var(--inset-shadow-size) rgb(0 0 0 / 0.15),
      /* inner shadow */ 0 1px 0 var(--gray-50); /* bottom specular highlight */
    transition: box-shadow 200ms;
    forced-color-adjust: none;

    &:where([data-hovered], [data-pressed]) {
      --inset-border: var(--border-color-hover);
    }

    &:where([data-invalid]) {
      --inset-border: var(--invalid-color);
      --inset-highlight: var(--inset-border);
    }

    &:where([data-disabled]) {
      box-shadow: inset 0 0 0 1px var(--border-color-disabled);
    }

    &.track {
      --inset-shadow-offset: 1px;
      --inset-shadow-size: 3px;
      @media (forced-colors: active){
        --field-background: Field;
        --border-color-disabled: GrayText;
        --border-color-hover: ButtonBorder; 
        --inset-background: Field;
        --inset-border: ButtonBorder;
        --inset-border-size: 1px;
        --invalid-color: LinkText}
      @media (prefers-color-scheme: light){
        --inset-background: var(--gray-300,light-dark(oklch(from var(--grayColor,oklch(0.5 0 0)) 91.1434% calc(l * c * 0.7) h),oklch(from var(--grayColor,oklch(0.5 0 0)) 41.0821% calc(l * c * 0.7) h)));
        --inset-border: var(--gray-500,light-dark(oklch(from var(--grayColor,oklch(0.5 0 0)) 79.1773% calc(l * c * 0.9) h),oklch(from var(--grayColor,oklch(0.5 0 0)) 51.9076% calc(l * c * 0.9) h)));
        --inset-border-size: 0.5px}
    }

    @media (forced-colors: active){
      --inset-border: ButtonBorder;
      box-shadow: inset 0 0 0 var(--inset-border-size) var(--inset-border)}

    @media (prefers-color-scheme: dark){
      --inset-border: var(--gray-200,light-dark(oklch(from var(--grayColor,oklch(0.5 0 0)) 95.2045% calc(l * c * 0.6) h),oklch(from var(--grayColor,oklch(0.5 0 0)) 35.3616% calc(l * c * 0.6) h)));
      --border-color-hover: var(--gray-300,light-dark(oklch(from var(--grayColor,oklch(0.5 0 0)) 91.1434% calc(l * c * 0.7) h),oklch(from var(--grayColor,oklch(0.5 0 0)) 41.0821% calc(l * c * 0.7) h)));
      --inset-highlight: var(--gray-400,light-dark(oklch(from var(--grayColor,oklch(0.5 0 0)) 85.1751% calc(l * c * 0.8) h),oklch(from var(--grayColor,oklch(0.5 0 0)) 46.9058% calc(l * c * 0.8) h)));
      --inset-shadow-size: 6px;
     --gray-50: oklch(22% 0 0);

      box-shadow:
        inset 0 calc(-1 * var(--inset-border-size)) 0 var(--inset-highlight),
        /* bottom specular highlight */ inset 0 0 0 var(--inset-border-size) var(--inset-border),
        /* border */ inset 0 1px var(--inset-shadow-size) rgb(0 0 0) /* inner shadow */}
  }
.h-10{height:var(--space-10,2.5rem)}
.px-3{padding-left:var(--space-3,0.75rem);padding-right:var(--space-3,0.75rem)}
.w-100p{width: 100%}
.bn{border:none}
.br-8px{border-radius: 8px}
.ol-none{outline:none}
.ff-inherit{font-family:inherit}
.c-grayRATheme1400{color:light-dark(oklch(from var(--grayColor,oklch(0.5 0 0)) 29.6725% c h),oklch(from var(--grayColor,oklch(0.5 0 0)) 91.1434% c h))}
.bgc--field-background{background-color:var(--field-background)}
.--placeholder\[c-grayRATheme1000\]::placeholder{color:light-dark(oklch(from var(--grayColor,oklch(0.5 0 0)) 51.9076% c h),oklch(from var(--grayColor,oklch(0.5 0 0)) 67.0121% c h))} 

.\[data-disabled\]\[c-grayRATheme600\,cna\][data-disabled]{color:light-dark(oklch(from var(--grayColor,oklch(0.5 0 0)) 72.3297% c h),oklch(from var(--grayColor,oklch(0.5 0 0)) 57.9699% c h))} 
.\[data-disabled\]\[c-grayRATheme600\,cna\][data-disabled]{cursor: not-allowed} 

.fs--font-size-sm{font-size: var(--font-size-sm)}
.lh-1\.4{line-height: 1.4}
.c-grayRATheme1000{color:light-dark(oklch(from var(--grayColor,oklch(0.5 0 0)) 51.9076% c h),oklch(from var(--grayColor,oklch(0.5 0 0)) 67.0121% c h))}
.c-redRATheme1000{color:light-dark(oklch(from var(--redColor,oklch(0.6 .181447 27.0726)) 51.9076% c h),oklch(from var(--redColor,oklch(0.6 .181447 27.0726)) 67.0121% c h))}
