@layer base{ .\@base-all-unset{all:unset}}
.cp{cursor: pointer}
.db{display: block}
.oln{outline:none}
.tdn{text-decoration: none}
.usn{user-select: none}
.p-12px{padding: 12px}
.br-6px{border-radius: 6px}
.fs-15px{font-size: 15px}
.lh-1{line-height: 1}
.--fo-bxs-0px-0px-0px-2px-violet600:focus{box-shadow:0px 0px 0px 2px var(--violet600,#7839EE)}
.--h-bgc-gray-200:hover{background-color:var(--gray200,#EAECF0)}
.pr{position: relative}
.df{display: flex}
.jcc{justify-content: center}
.w-100vw{width: 100vw}
.zi-1{z-index:1}
.bgc-white{background-color:white}
.p-4px{padding: 4px}
.lsn{list-style: none}
.bxs-0px-2px-10px-0000000000d7{box-shadow:0px 2px 10px rgba(000,000,000,0.7)}
.aic{align-items: center}
.jcsb{justify-content: space-between}
.g-2px{gap: 2px}
.p-8px-12px{padding: 8px 12px}
.fw5{font-weight: 500}
.br-4px{border-radius: 4px}
.c-gray-800{color:var(--gray800,#1D2939)}
.--fo-bxs-0px-0px-0px-2px-0000000000d7:focus{box-shadow:0px 0px 0px 2px rgba(000,000,000,0.7)}
.t-1px{top: 1px}
.tn-transform-250ms-ease{transition:transform 250ms ease}
[data-state="open"]  > .__\[data-state\=open\]\&-tf-r--180deg{transform:rotate(-180deg)}
.\[pa\,t-0\,l-0\,w-100p\,adu-250ms\,sm-w-auto\]{position: absolute} 
.\[pa\,t-0\,l-0\,w-100p\,adu-250ms\,sm-w-auto\]{top: 0} 
.\[pa\,t-0\,l-0\,w-100p\,adu-250ms\,sm-w-auto\]{left: 0} 
.\[pa\,t-0\,l-0\,w-100p\,adu-250ms\,sm-w-auto\]{width: 100%} 
.\[pa\,t-0\,l-0\,w-100p\,adu-250ms\,sm-w-auto\]{animation-duration: 250ms} 
@media (max-width : 576px){ .\[pa\,t-0\,l-0\,w-100p\,adu-250ms\,sm-w-auto\]{width:auto}} 

.\[data-motion\=from-start\]-an-enterFromLeft[data-motion="from-start"]{animation-name:enterFromLeft}
.\[data-motion\=from-end\]-an-enterFromRight[data-motion="from-end"]{animation-name:enterFromRight}
.\[data-motion\=to-start\]-an-exitToLeft[data-motion="to-start"]{animation-name:exitToLeft}
.\[data-motion\=to-end\]-an-exitToRight[data-motion="to-end"]{animation-name:exitToRight}
.dg{display: grid}
.p-22px{padding: 22px}
.m-0{margin: 0}
.cg-10px{column-gap: 10px}
@media (min-width : 576px){ .sm-w-500px{width: 500px}}
@media (min-width : 576px){ .sm-gtc-0d7fr-1fr{grid-template-columns: 0.7fr 1fr}}
.jcfe{justify-content: flex-end}
.fdc{flex-direction: column}
.w-100p{width: 100%}
.h-100p{height: 100%}
.bg-lg-135deg-purple800_0p-indigo800_100p{background:linear-gradient( 135deg,  var(--purple800,#4A1FB8) 0%, var(--indigo800,#2D31A6) 100% )}
.p-25px{padding: 25px}
.c-white{color:white}
.fs-18px{font-size: 18px}
.lh-1d2{line-height: 1.2}
.mb-7px{margin-bottom: 7px}
.c-gray-200{color:var(--gray200,#EAECF0)}
.fs-14px{font-size: 14px}
.lh-1d3{line-height: 1.3}
@media (min-width : 576px){ .sm-w-600px{width: 600px}}
@media (min-width : 576px){ .sm-grid-auto-flow-column{grid-auto-flow:column}}
@media (min-width : 576px){ .sm-gtr-repeat-3-1fr{grid-template-rows: repeat(3, 1fr)}}
.aife{align-items: flex-end}
.h-10px{height: 10px}
.t-100p{top: 100%}
.oh{overflow: hidden}
.tdu-250ms{transition-duration: 250ms}
.ttf-ease{transition-timing-function:ease}
.transition-property-width__transform{transition-property:width , transform}
.t-70p{top: 70%}
.bgc-fff{background-color:#fff}
.w-10px{width: 10px}
.tf-r-45deg{transform:rotate(45deg)}
.btlr-2px{border-top-left-radius: 2px}
.pa{position: absolute}
.l-0{left: 0}
.perspective-2000px{perspective: 2000px}
.totc{transform-origin: top center  }
.mt-10px{margin-top: 10px}
.bxs-0px-10px-38px--10px-0000000000d35__0px-10px-20px--15px-0000000000d2{box-shadow:0px 10px 38px -10px rgba(000,000,000,0.35) , 0px 10px 20px -15px rgba(000,000,000,0.2)}
.h--radix-navigation-menu-viewport-height{height: var(--radix-navigation-menu-viewport-height)}
.transition-property-width__height{transition-property:width , height}
.tdu-300ms{transition-duration: 300ms}
.\[data-state\=open\]-\[an-scaleIn\,adu-200ms\,atf-ease\][data-state="open"]{animation-name:scaleIn} 
.\[data-state\=open\]-\[an-scaleIn\,adu-200ms\,atf-ease\][data-state="open"]{animation-duration: 200ms} 
.\[data-state\=open\]-\[an-scaleIn\,adu-200ms\,atf-ease\][data-state="open"]{animation-timing-function:ease} 

.\[data-state\=closed\]-\[an-scaleOut\,adu-200ms\,atf-ease\][data-state="closed"]{animation-name:scaleOut} 
.\[data-state\=closed\]-\[an-scaleOut\,adu-200ms\,atf-ease\][data-state="closed"]{animation-duration: 200ms} 
.\[data-state\=closed\]-\[an-scaleOut\,adu-200ms\,atf-ease\][data-state="closed"]{animation-timing-function:ease} 

@media (min-width : 576px){ .sm-w--radix-navigation-menu-viewport-width\:100p{width: var(--radix-navigation-menu-viewport-width,100%)}}
.mb-5px{margin-bottom: 5px}
.c-gray-600{color:var(--gray600,#475467)}
.fw-initial{font-weight:initial}
.lh-1d4{line-height: 1.4}
@keyframes enterFromRight{
 0% {opacity: 0;transform:translateX(200px)} 100% {opacity: 1;transform:translateX(0)}
}

@keyframes enterFromLeft{
 0% {opacity: 0;transform:translateX(-200px)} 100% {opacity: 1;transform:translateX(0)}
}

@keyframes exitToRight{
 0% {opacity: 1;transform:translateX(0)} 100% {opacity: 0;transform:translateX(200px)}
}

@keyframes exitToLeft{
 0% {opacity: 1;transform:translateX(0)} 100% {opacity: 0;transform:translateX(-200px)}
}

@keyframes scaleIn{
 0% {opacity: 0;transform:rotateX(-30deg) scale(0.9)} 100% {opacity: 1;transform:rotateX(0deg) scale(1)}
}

@keyframes scaleOut{
 0% {opacity: 1;transform:rotateX(0deg) scale(1)} 100% {opacity: 0;transform:rotateX(-10deg) scale(0.95)}
}

@keyframes fadeIn{
 0% {opacity: 0} 100% {opacity: 1}
}

@keyframes fadeOut{
 0% {opacity: 1} 100% {opacity: 0}
}

