/* @import "tailwindcss"; */
@layer reset{
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: var(--font-sans);
  }
  body {
    margin: 0;
  }
  hr {
    height: 0;
    color: inherit;
  }
  abbr[title] {
    text-decoration: underline dotted;
  }
  b, strong {
    font-weight: bolder;
  }
  code, kbd, samp, pre {
    font-family: var(--font-mono);
    font-size: 1em;
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
